<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="icon" type="image/png" href="/img/favicon.ico">
</head>
<body style='background-color:black'>
    <div class="center" style="position:fixed; top:50%; left: 50%; transform:translate(-50%, -50%)">
<video loop autoplay="autoplay" style="min-width:100vw;min-height:100vh;">
    <source src="/video/login_vid.mp4" type="video/mp4" /><!-- WebKit video    -->
</video>
</div>

    <div class="text-center titleHolder">
        <div class="container center">
          <div class="row">
            <div class="col-xs-2 col-md-4" style="height:20px"></div>
            <img src="/img/fhirfli.png" class="col-md-4 col-xs-8">
          </div>
          <div class="row">
            <div class="col-xs-0 col-md-2"></div>
            <div class="col-md-8 col-xs-12">
              <a href="/login" class="btn btn-url white-url"><span class="fa fa-user"></span> Login</a>
              <a href="/signup" class="btn btn-url white-url"><span class="fa fa-user"></span> Signup</a>
              <a href="/auth/facebook" class="btn btn-url white-url"><span class="fa fa-facebook"></span> Facebook</a>
              <a href="/auth/adb2c" class="btn btn-url white-url"><span class="fa fa-user"></span> Microsoft</a>
            </div>
          </div>
        </div>
    </div>

</div>
</body>
</html>
